# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Gankl\OneDrive Technion\OneDrive - Technion\Matlab & Lyx\Masters Degree\Semester 1 - Spring 2021\046211 Deep Learning\Deep Learning - HW\Deep Project\DeepDinoRun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
